.snapshots-list {
  display: flex;
  flex-direction: column;
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.snapshot-item_header {    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;    
    background-color: #fff;
}

.snapshot-item_body {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    background-color: #fff;
}
