@font-face {
  font-family: 'MuseoSans';
  src: url(./assets/fonts/MuseoSans-100.otf) format('otf'),
    url(./assets/fonts/MuseoSans-100_Italic.otf) format('otf'),
    url(./assets/fonts/MuseoSans-300.otf) format('otf'),
    url(./assets/fonts/MuseoSans-300_Italic.otf) format('otf'),
    url(./assets/fonts/MuseoSans-500.otf) format('otf'),
    url(./assets/fonts/MuseoSans-500_Italic.otf) format('otf'),
    url(./assets/fonts/MuseoSans-700.otf) format('otf'),
    url(./assets/fonts/MuseoSans-700_Italic.otf) format('otf');
}

html,
body {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  font-family: 'MuseoSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
}

button {
  color: #ffffff;
  background-color: #233257;
  box-shadow: 8px 8px 20px rgba(35, 50, 87, 0.4);
  border-radius: 22px;
}

input[type='submit'] {
  color: #ffffff;
  background-color: #233257;
  box-shadow: 8px 8px 20px rgba(35, 50, 87, 0.4);
  border-radius: 22px;
}

input[type='text'] {
  border: 1px solid #9ca1a5;
  border-radius: 22px;
}

input[type='checkbox'] {
  border: 3px solid #787b7d;
  border-radius: 5px;
}

.checkbox-label {
  font-size: medium;
}

input[type='checkbox']:before {
  display: block;
  border: 3px solid #787b7d;
  border-radius: 5px;
  background-color: white;
}

input[type='checkbox']:checked:after {
  display: block;
  border: solid #11a8a7;
  border-width: 0 2px 2px 0;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.card {
  margin: 5pt 10pt 5pt 10pt;
  padding: 10pt;
  background-color: #fff;
  border-radius: 0.7rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
